.Home-page {
  display: inline-grid;
  background-color: #2196F3;
  grid-template-columns: auto auto;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.Home-page-item {
  display: flex;
  border: 2px dashed rgba(236, 198, 48, 0.5);
  width: 80%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.OFT {
  background-image: url('./Screen Shot 2019-08-30 at 16.03.31.png');
  background-size: cover;
  background-repeat: no-repeat;
}
