.Task-page {
    display: inline-grid;
    background-color: #2196F3;
    grid-template-columns: auto auto;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-items: center;
  }